# misc-non-private-member-variables-in-classes is annoying because we have many POD classes/structs
# misc-include-cleaner wants us to use specific legate headers for classes, but we don't want to use these because they move sometimes upstream
# prefer instead to use the generate #include <legate.h>
# cppcoreguidelines-avoid-magic-numbers is annoying in scientific code - it considers 0.5 or 2.0 to be magic numbers
# misc-use-internal-linkage erronously wants us to use anonymous namespaces in .cuh headers

Checks:          'performance-*,cppcoreguidelines-*,-cppcoreguidelines-avoid-magic-numbers,misc-*,-misc-non-private-member-variables-in-classes,-misc-include-cleaner,-misc-use-internal-linkage' #,modernize-*,,bugprone-*,cert-*,hicpp-*,portability-*'
WarningsAsErrors: true
HeaderFilterRegex: '.*'
FormatStyle:     google
