*.a
build
*.conda
dist/
docs/source/examples
docs/source/README.md
docs/source/_static/examples/
!docs/source/_static/examples/.gitkeep
_skbuild
*.pyc
*.egg-info
legateboost/library.py
legateboost/install_info.py
legate_prof*
.mypy_cache/
*.o
*.pyc
__pycache__/
.hypothesis
examples/notebook/*.py
legion_prof
benchmark
!benchmark/*.py
*.so
*.tar.bz2
*.tar.gz
*.whl
*.zip
